*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks
google-services.json
backend/node_modules/
backend/data/db.json
backend/.env
